<?xml version="1.0" encoding="UTF-8"?>
<plugin 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-u-share-wechat" version="1.0.0">
  <name>UShareWechat</name>
  <description>Cordova Plugin for Umeng Share Wechat</description>
  <license>ISC</license>
  <keywords>cordova,umeng,social,share</keywords>
  <preference name="USHARE_WECHAT_APP_KEY" />
  <preference name="USHARE_WECHAT_APP_SECRET" />
  <js-module src="www/UShareWechat.js" name="UShareWechat">
    <clobbers target="UShareWechat" />
  </js-module>
  <platform name="ios">
    <pod name="UMengUShare/Social/WeChat" />
    <config-file target="config.xml" parent="/*">
      <feature name="UShareWechat">
        <param name="ios-package" value="UShareWechat" />
        <param name="onload" value="true" />
      </feature>
      <preference name="USHARE_WECHAT_APP_KEY" value="$USHARE_WECHAT_APP_KEY" />
      <preference name="USHARE_WECHAT_APP_SECRET" value="$USHARE_WECHAT_APP_SECRET" />
    </config-file>
    <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
      <array>
        <string>weixin</string>
        <string>wechat</string>
      </array>
    </config-file>
    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleURLName</key>
          <string>weixin</string>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>$USHARE_WECHAT_APP_KEY</string>
          </array>
        </dict>
      </array>
    </config-file>
    <header-file src="src/ios/UShareWechat.h" />
    <source-file src="src/ios/UShareWechat.m" />
  </platform>
  <platform name="android">
    <hook type="after_plugin_add" src="scripts/android-install.js" />
    <hook type="after_plugin_install" src="scripts/android-install.js" />
    <hook type="before_plugin_rm" src="scripts/android-install.js" />
    <hook type="before_plugin_uninstall" src="scripts/android-install.js" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="UShareWechat">
        <param name="android-package" value="news.chen.yu.ionic.UShareWechat"/>
        <param name="onload" value="true" />
      </feature>
      <preference name="USHARE_WECHAT_APP_KEY" value="$USHARE_WECHAT_APP_KEY" />
      <preference name="USHARE_WECHAT_APP_SECRET" value="$USHARE_WECHAT_APP_SECRET" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <activity android:name=".wxapi.WXEntryActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:exported="true" android:screenOrientation="portrait" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
      <activity android:name=".wxapi.WXPayEntryActivity" android:exported="true" android:launchMode="singleTop"/>
    </config-file>
    <framework src="src/android/UShareWechat.gradle" custom="true" type="gradleReference" />
    <resource-file src="src/android/libs/SocialSDK_WeiXin_Full.jar" target="libs/SocialSDK_WeiXin_Full.jar" />
    <resource-file src="src/android/libs/wechat-sdk-android-with-mta-1.1.6.jar" target="libs/wechat-sdk-android-with-mta-1.1.6.jar" />
    <resource-file src="src/android/res/drawable/umeng_socialize_fav.png" target="res/drawable/umeng_socialize_fav.png" />
    <resource-file src="src/android/res/drawable/umeng_socialize_wechat.png" target="res/drawable/umeng_socialize_wechat.png" />
    <resource-file src="src/android/res/drawable/umeng_socialize_wxcircle.png" target="res/drawable/umeng_socialize_wxcircle.png" />
    <source-file src="src/android/UShareWechat.java" target-dir="src/news/chen/yu/ionic" />
  </platform>
</plugin>